.logement {
  display: flex;
  flex-direction: column;
}

.details-logement {
display: flex;
justify-content: space-between;
}

.title {
  color: rgba(255, 96, 96, 1);
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  margin-bottom: 0;
}

.location {
  height: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25.67px;
}

.host {
  display: flex;
  gap: 10px;
  width: 167px;
  height: 64px;
  margin-top: 15px;
}

.host-and-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 196px;
  height: 64px;
  margin-top: 15px;
}
.host-name {
  align-items: center;
height: 52px;
font-weight: 500;
text-align: right;
font-size: 18px;
line-height: 25.67px;
  color: rgba(255, 96, 96, 1);
}

.host-picture {
  width: 64px;
 height: 64px;
border-radius: 50px;
}

.rating {
  height: 36px;
  margin: 5px;
}
.tags-list {
display: flex;
flex-direction: row;
gap: 10px;
padding: 0;
}

.tags {
  background-color: rgba(255, 96, 96, 1);
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.96px;
  border-radius: 10px;
  padding-left: 40px;
  padding-RIGHT: 40px;
  height: 25px ;
 text-align: center;
  list-style: none;
}


.star-icon {
  margin-right: 5px;
}

.collapse-logement {
  display: flex;
 gap: 20px;
}
