.details-logement {
  background-color: violet;
  width: 1240px;
height: 228px;
padding-bottom: 50px;
}

.info-logement {
  background-color: pink;
}

.hote-rating {
background-color: grey;
}

.collapse-logement {
  background-color: yellow;
}