.titre-collapse {
  background-color: rgb(255, 96, 96, 1);
  border-radius: 5px;
  color: white;
  width: 100%;
  height: 52px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  border: 0;
  
}

.texte-collapse {
  background-color: rgb(246, 246, 246, 0.45);
  color: black;
  font-size: 18px;
  font-weight: 400;
  padding-left:15px ;
  padding-right: 15px;
}

ul {
  list-style: none;
}

.collapse {
  width: 100%;
}




